* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #000000;
  background: #ffffff;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-size: 4em;
}

.card {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border-radius: 25px;
  background-image: url("https://hips.hearstapps.com/mnh-it/files/articoli/9/7/4/9743/B_877893204.jpg");
  box-shadow: 17px 14px 23px 2px rgba(0, 0, 0, 0.31);
  object-fit: cover;
  overflow: hidden;
  background-position: center;
}

.save-btn {
  position: absolute;
  right: 20px;
  top: -60px;
  background-color: orangered;
  color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  transition: top 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.card:hover .save-btn {
  top: 20px;
}

.dscrpt,
.btn-center,
.more {
  position: absolute;
  bottom: -45px;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 15px;
  opacity: 0.8;
  cursor: pointer;
  transition: bottom 0.2s ease-in-out, opacity 0.4s ease-in-out;
}

.dscrpt:hover,
.btn-center:hover,
.more:hover {
  opacity: 0.8;
}

.card:hover .dscrpt,
.card:hover .btn-center,
.card:hover .more {
  bottom: 15px;
}

.dscrpt {
  left: 15px;
}

.btn-center {
  right: 80px;
}

.more {
  right: 20px;
}

.upload,
.icon-save,
.right-btn,
.left-btn {
  height: 30px;
  width: 30px;
}

.upload {
  stroke: rgb(0, 81, 255);
}

.icon-save {
  stroke: #fff;
}

.right-btn,
.left-btn {
  stroke: rgb(52, 49, 49);
}
