/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COLORS */
/* #292929 #1A8917 #F2F2F2 #757474 #757575 #E5E6E5 #606165 #F4511E #37A1F2 */
body {
    font-family: sans-serif;
    color: #757575;
}
h3 {
    font-size: 24px;
    line-height: 1;
    color: #292929;
}
h4 {
    color: #292929;
}
header {
    z-index: 10;
}
nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 13px 34px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 13px 34px -2px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 15px 0;
    z-index: 10;
    background-color: #fff;
}
.nav-icons ul li {
    width: 25px;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}
.top-logo {
    width: 200px;
    margin: 0 auto 0 100px;
}
.nav-icons ul {
    display: flex;
    flex-direction: row;
}
.right-top {
    display: flex;
    margin-right: 150px;
}
.right-top img{
    width: 35px;
    margin-top: 10px;
    cursor: pointer;
}
.top-r-mem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    border: #292929 1px solid;
    text-align: center;
    margin: 10px 18px 10px 15px;
    text-decoration: none;
    color: #292929;
}
main {
    width: 86vw;
    margin: 80px auto;
    display: flex;
}
section {
    height: 1000px;
    width: 50vw;
    padding-top: 50px;
    margin-right: 60px;
}
.section-nav ul {
    list-style: none;
    display: flex;
    border-bottom: 2px solid #F2F2F2 ;
}
.section-nav ul li a {
    list-style: none;
    color: #757575;
    margin-right: 10px;
    text-decoration: none;
    padding: 0 15px 11px 15px;
    line-height: 2.5;
}
.active-lft-sctn {
    color: #292929;
    font-weight: 700;
    border-bottom: 3px solid;
}
.post-wrapper {
    display: flex;
    margin-top: 40px;
}
.post {
    line-height: 1.7;
}
.p-c-link {
    background-color: #F2F2F2;
    padding: 5px;
    border-radius: 30px;
}
.p-c-c {
    display: flex;
    justify-content: space-between;
}
.post-icons {
    color: #292929;
    cursor: pointer;
}
.post-content span {
    font-size: 14px;
}
.post-icons:first-child {
    margin-right: 10px;
}
.img-pst-right {
    width: 232px;
    height: 145px;
    margin: 20px 0 0 21px;
}
.author {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.author p {
    font-size: 14px;
    color: #292929;
}
.author span {
    font-weight: 700;
}
.square-img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-right: 10px;
}
aside {
    position: sticky;
    top: 0;
    width: 26vw;
    height: 50vh;
    z-index: 9;
    border-left: #F2F2F2 2px solid;
    padding: 50px 0 0 50px;
}
.aside-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-aside {
    margin: -20px 0 0 0;
}
.top-aside span:first-child {
    color: #292929;
}
.top-aside span:nth-child(3), .social-twitr div svg {
    color: #37A1F2;
}
.social-twitr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #F2F2F2 solid 2px;
    padding-bottom: 10px;
}
.social-twitr span, .social-twitr a {
    color: #292929;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
}
.social-twitr div {
    border: 1px solid #a8a8a8;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    background-color: #fff;
    cursor: pointer;
}
.social-twitr a:nth-child(3) {
    font-size: 16px;
    color: #757575;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.rcmd-tpc-aside {
    margin-top: 60px;
}
.rcmd-tpc-aside .list-sp * {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 30px;
    margin: 4px 4px 4px 0;
    display: inline-block;
}
.rcmd-tpc-aside h4 {
    margin-bottom: 18px;
}
.rcmd-tpc-aside ul li img {
    width:50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
}
.nme {
    font-weight: 600;
    font-size: 16px;
    color: #292929;
    display: flex;
    flex-direction: column;
}
.nme p {
    color: #757575;
    font-size: smaller;
    margin-right: 30px;
}
.rcmd-tpc-aside ul li {
    display: flex;
    margin-bottom: 14px;
}
.rcmd-tpc-aside ul li button {
    width: 100px;
    border-radius: 30px;
    border: 1px solid #757575;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
}
.bttm{
    display: flex;
    margin-bottom: 10px;
}
.post-content h4:nth-child(1) {
    margin-bottom: 10px;
}
.circle-img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
strong {
    color: #292929;
}
.bttm2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    margin:30px 0;
}
.green {
    color: #1A8917 ;
    cursor: pointer;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 80px;
    cursor: pointer;
}
