/*  RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  RESET */

body {
    font-family:Georgia, serif
    
    }

p{
    font-size: 20px;
    color: #333;
}
h1 + p {
    margin: 15px 0;
}

.description {
    color: #999999;
    text-align: center;
    margin-top: 15px;
}
h3 {  
    font-size: 22px;
    border-bottom: 1px #c4f3f2 solid;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
}
h4 {
    color: #b5460f;
}
h5{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}
a {
    color: #107777;
}
.u-list{
    font-weight: bold;
    font-size: 16px;
}
li{
    font-weight: 500;
    list-style: inside;
    line-height: 2;
    }

.sec-2 {
    border-left: 2px #ffd877 solid;
    padding-left: 16px;
    margin: 30px 0 60px 0;
}

main {
    width: 1000px;
    margin: 0 auto;
    color: #333;
}
    

/* HEADER */
header {
    margin: 0 0 10px 0;
    padding: 20px;
    left: 0;
    height: 100px;
    border-bottom: solid 2px #ffd877;
    width: 100%;
    }

nav {
   text-align: center;
    width: 100%;
    margin-top: 10px;
    }

    nav p{
        color: #004d4c;
        }
     span {
        text-transform: uppercase;
        font-weight: 700;
     }

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    }
footer h3 {
    margin: 20px 0 20px 0;
}

footer ul li {
    margin: 20px 0 20px 15px;
    list-style: none;
    }
footer p{
    font-size: 16px;
}
footer ul li {
    line-height: normal;
}
section img {
   width: 100%;
   border-radius: 10px;
}